@charset "utf-8";

._1-MQcAnGrzrFMjeeK--1CV { position: absolute; z-index: 9999; box-sizing: border-box; width: 400px; }

._1-MQcAnGrzrFMjeeK--1CV * { font-family: Avenir, sans-serif; box-sizing: border-box; }

._2fpejVYJtfn0uwYLtMUQCf { position: relative; z-index: 2; padding: 10px; border-radius: 5px; box-shadow: rgba(14, 41, 57, 0.0470588) 0px 0px 0px 1px, rgba(14, 41, 57, 0.439216) 0px 1px 2px, rgba(14, 41, 57, 0.0470588) 0px -1px 2px inset; overflow: hidden; min-height: 90px; transition: height 0.2s; background: rgb(255, 255, 255); }

._2fpejVYJtfn0uwYLtMUQCf .react-spinner { width: 40px; margin-top: 10px; position: absolute; }

._2fpejVYJtfn0uwYLtMUQCf .react-spinner_bar { background-color: rgb(119, 119, 119); }

.FELSfi9GtYGLHMEJm_QSx { width: 20px; position: absolute; bottom: 10px; left: 10px; }

.FELSfi9GtYGLHMEJm_QSx img { width: 100%; display: block; }

.ozo8_R8bP5ZTNUUSZVLz3 { position: absolute; bottom: 7px; right: 10px; font-size: 12px; color: rgb(204, 204, 204); text-decoration: none; }

.ozo8_R8bP5ZTNUUSZVLz3:visited { color: rgb(204, 204, 204); }

.ozo8_R8bP5ZTNUUSZVLz3:hover { color: rgb(187, 187, 187); }

.lZZM5Jclv1x8qsWrvdsDf { position: absolute; top: -18px; right: 10px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; color: rgb(170, 170, 170); padding: 2px 7px; font-size: 10px; z-index: 1; text-transform: lowercase; cursor: pointer; background: rgb(255, 255, 255); }

.lZZM5Jclv1x8qsWrvdsDf:hover { color: rgb(119, 119, 119); }
