@charset "utf-8";

._1rRGd8wk_-N5B9j6qZHRQI { height: 70px; transition: height 0.3s; }

._1rRGd8wk_-N5B9j6qZHRQI._1NyqhJvPUi0OxiL4cgrl5u { height: 300px; }

._1rRGd8wk_-N5B9j6qZHRQI._2nWWRB-IWiewWQmJdwT0I5 ._2W4BHdHJPBYN8sOIfnMxCK { opacity: 1; }

input[type="search"]._2d18UYJQbY0KuIATz5OKWs { width: 100%; padding: 8px; font-size: 14px; font-weight: 700; margin-bottom: 5px; box-sizing: border-box; box-shadow: none; border: 1px solid rgb(204, 204, 204); transition: border-color 0.3s; }

input[type="search"]._2d18UYJQbY0KuIATz5OKWs:focus { border: 1px solid rgb(221, 221, 221); outline: none; }

.SMIMPcpelsGLDBZCXwcuF { overflow: hidden; width: 100%; }

._2W4BHdHJPBYN8sOIfnMxCK { padding: 5px 0px; height: 210px; opacity: 0; transition: opacity 0.2s, left 0.3s; position: relative; left: 0px; }

._1rRGd8wk_-N5B9j6qZHRQI._1dqAq0C-SawM_FOWTLeNpg ._2W4BHdHJPBYN8sOIfnMxCK { column-count: 4; column-gap: 3px; }

._1wfIvX4ucjB8ouZ9y_5ZgF { cursor: pointer; border: 2px solid transparent; display: inline-block; }

._1wfIvX4ucjB8ouZ9y_5ZgF img { width: 100%; display: block; }

._1wfIvX4ucjB8ouZ9y_5ZgF:hover { border-color: rgb(255, 71, 94); }

.qd1suRPhS_9-VRfn1eSru { width: 100%; text-align: center; color: rgb(204, 204, 204); margin-top: 90px; font-size: 16px; }

._2HA3P7KCHr1dX9dvnWbmwI { text-align: center; }

._2HA3P7KCHr1dX9dvnWbmwI a { cursor: pointer; color: rgb(204, 204, 204); margin: 10px; font-size: 30px; -webkit-user-select: none; text-decoration: none; }

._2HA3P7KCHr1dX9dvnWbmwI a:hover { color: rgb(170, 170, 170); }

._2HA3P7KCHr1dX9dvnWbmwI a._3Lk8PZOKUbfsg2BaJL5HFQ { color: rgb(238, 238, 238); cursor: inherit; }
