@charset "utf-8";

._1IcOPOj-8f4emB9VQxtOJ_ { height: 310px; }

._3J4Ru0b_xo7z9UJEpZ9LF8 { font-size: 12px; color: rgb(170, 170, 170); margin: 0px 0px 10px; padding: 0px; }

._2j2LEPc-DIc3UiaVm8_Gjn { overflow: scroll; height: 165px; padding: 10px 0px; border-top-style: none; text-align: left; }

._2KUPd1Qzwx4FmNRzPiahTn { display: inline-block; width: 20px; height: 20px; padding: 2px; line-height: 20px; overflow: hidden; cursor: pointer; }

._2KUPd1Qzwx4FmNRzPiahTn:hover { background: rgb(238, 238, 238); }

.w_SVsuFybtDwcVKBcbcDg { padding: 5px 15px; width: 47.5px; display: inline-block; text-align: center; border: 1px solid rgb(238, 238, 238); }

.w_SVsuFybtDwcVKBcbcDg:not(:last-child) { border-right-style: none; }

.w_SVsuFybtDwcVKBcbcDg:hover { cursor: pointer; }

.w_SVsuFybtDwcVKBcbcDg:hover img { opacity: 0.7; }

.w_SVsuFybtDwcVKBcbcDg img { vertical-align: middle; opacity: 0.5; height: 16px; }

.w_SVsuFybtDwcVKBcbcDg._3wqbxiJ72l6lwbhwRjw3_T { background: rgb(238, 238, 238); }

.w_SVsuFybtDwcVKBcbcDg._3wqbxiJ72l6lwbhwRjw3_T img { opacity: 1; }

._2CiugH04RO1xv-RbCTsCY3 { text-align: center; color: rgb(170, 170, 170); }
